body {
    background-color: rgb(66, 132, 65);
}
a {
    text-decoration: none;
    color: black;
}

span {
    font-size: 10px;
}
ul {
}
li {
    list-style: none;
}

h1 {
    text-align: center;
}
b {
    
}

/* CLASS */
.divide-box {
    margin-top: 10px;
}
.items-box {

}
.btn span{
}
.checkbox-input {
    
}
.text-input {
    width: 150px;
    border: 3px solid black;
}
.text-input-email {
    width: 100px;
    border: 3px solid black;
}

/* ID */
#all {
    width: 100%;
}
header {
    margin: auto;    
}

form {
    
}
#container {
    text-align: center;
}
#content {
}
#register-content {
    border: 3px solid black;
    width: 350px;
    height: 570px;
    margin: auto;
}

#id-box {

}
#psw-box {

}
#pswconfirm-box {

}
#email-box {

}
#telnum-box{

}
#code-box {

}
#codenum-box {
    background-color: rgb(173, 173, 173);
    width: 130px;
    height: 35px;
    margin: auto;
}
#checkbox-box {

}
#registerbtn-box{

}